Flask==3.1.1
numpy==2.2.5
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
Pillow==11.2.1
pytest==8.3.5
scikit_learn==1.4.0
scipy==1.15.3
scikit-image==0.22.0
torch==2.2.0
torchvision==0.17.0
