::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;   
}

.navbar-nav {
    display: flex;
    align-items: center;
    color: #40A2E3;
}

.logo {
    font-size: 28px;
    margin-left: 80%;
    color: white;
}

.navbar-nav .nav-link {
    color: white;
    margin-right: 15%;
    text-decoration: none;
    font-size: 18px;
}

.input-form {
    margin: 3% 20% 0 10%;
}

.title {
    margin-top: 3%;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}

.img-format {
    border-radius: 2%;
}

.result-item {
    display: flex;
    justify-content: center;
}

.metrics-format {
    text-align: justify;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
    margin-top: 7%;
}

.gif-container {
    width: 100%;
    height: 75vh;
    position: relative;
    overflow: hidden;
}

.gif-container img {
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}