{% extends 'layout.html' %}
{% block title %}Detect Edges {% endblock %}
{% block script %} <script src="../static/scripts.js"></script> {% endblock %}
{% block content %}
<div class="title" style="text-transform: uppercase; font-weight: 700;">{{ method }}<br>Edges detection<hr style="width: 50vw; margin: 1% auto;"></div>
<form id="uploadForm" method="post" enctype="multipart/form-data" onsubmit="return validateForm();" class="input-form">
    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <label for="file" class="form-label" ><h6>Upload your images</h6></label>
            <input type="file" name="file" aria-label="file example" class="form-control" accept=".jpg, .jpeg, .png" multiple required>
        </div>
      </div>

    <br>
    
    <div>
        <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
                <div class="form-check">
                    <input type="checkbox" name="noise_check" id="noise_check" class="form-check-input">
                    <label for="noise_check" class="form-check-label">Add Noise</label>
                </div>
            </div>
        </div>
        
        <div id="noise_fields" style="display: none;">
            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    <label for="noise_type" class="form-label">Select the <b>type of noise</b></label>
                    <select name="noise_type" id="noise_type" class="form-select" required>
                        <option value="gauss">Gaussian</option>
                        <option value="impulse">Impulse</option>
                        <option value="speckle">Speckle</option>
                    </select>
                    <label for="noise_parameter" class="col-sm-3 col-form-label">Enter the noise <b>parameter</b></label>
                    <input type="number" step="0.05" name="noise_parameter" id="noise_parameter" min="0" max="100" value="0" class="form-control">
                </div>
            </div>
        </div>
    </div>
    

    <br>

    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <div class="form-check">
                <input type="checkbox" name="calculate_metrics" id="calculate_metrics" class="form-check-input" onchange="toggleGroundTruthField()">
                <label for="calculate_metrics" class="form-check-label">Calculate Metrics</label>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <div id="metrics_fields" style="display: none;">
                <label for="ground_truth" class="form-label">Upload <b>Ground Truth</b> Images</label>
                <input type="file" name="ground_truth" class="form-control" accept=".jpg, .jpeg, .png" multiple>
            </div>
        </div>
    </div>

    <br>

    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" value="Upload" class="btn btn-primary">Upload</button>
        </div>
    </div>
</form>
</main>
{% endblock %}