<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block script %}{% endblock %}
    <title>{% block title %}{% endblock %}- WebEdges</title>
</head>
<body>
    <header>
        <nav style="background-color: rgba(0, 0, 0)"class="navbar navbar-expand-lg">
            <div class="navbar-nav clickable" onclick="window.location.href='/'">
                <div class="logo" style="display: flex; align-items: center;">
                    <img src="../static/favicon.ico" style="width: 50px; height: 50px; margin-right: 10px;">
                    <span>WebEdges</span>
                </div>
            </div>
            <div class="navbar-nav ml-auto" style="width: 60%"></div>
            <div class="navbar-nav">
                <a href="/" class="nav-link">About</a>
                <a href="/pidinet" class="nav-link">PiDiNet</a>
                <a href="/hed" class="nav-link">HED</a>
                <a href="https://github.com/vat1kan/edges-web" target="_blank"><img src="../static/git.gif" width="36px" height="36px" alt="GIT link"></a>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
